.generic-form {
    min-width: 100px;
    max-width: 500px;
    width: 100%;
    margin: 120px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .grid-container {
    margin-top:80px;
    margin-left:280px;
    margin-right:280px;   
  }

  .grid-container-inner {
    padding: 40px
  }