
<div class="grid-container">
  <h1 class="mat-h1">Applications In Progress</h1>
  <div class="mat-elevation-z8">

  <div class="grid-container">
      <div class="filter-width">  
        <mat-form-field>
          <mat-select placeholder="Planning Status" [(ngModel)]="query.planningAppType" name="planningStatus"  (selectionChange)="onStateFilterChange()">
          <mat-option *ngFor="let status of stateStatuses" [value]="status.name" >{{status.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <table mat-table #table [dataSource]="queryResult.items" matSort aria-label="Elements">

   <!-- IconStatus --> 
   <ng-container matColumnDef="iconStatus">
      <th mat-header-cell flex="50px" *matHeaderCellDef mat-sort-header ></th>
      <mat-cell *matCellDef="let row" flex="50px">
        <div *ngIf="row.currentStateStatus=='OnTime'"><mat-icon class="green-thumb-icon">thumb_up</mat-icon></div>
        <div *ngIf="row.currentStateStatus=='Due'"><mat-icon class="orange-warn-icon">access_alarm</mat-icon></div>
        <div *ngIf="row.currentStateStatus=='Overdue'"><mat-icon class="red-warn-icon">access_alarm</mat-icon></div>
      </mat-cell>
    </ng-container>

    <!-- Reference Id -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Reference</th>
      <td mat-cell *matCellDef="let row">{{row.planningReferenceId}}</td>
    </ng-container>

    <!-- Customer Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
      <td mat-cell *matCellDef="let row">{{row.customerName}}</td>
    </ng-container>
  
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description Of Work</th>
        <td mat-cell *matCellDef="let row">{{row.descriptionOfWork}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Status</th>
        <td mat-cell *matCellDef="let row">{{row.currentStateStatus}}</td>
      </ng-container>

    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Stage</th>
        <td mat-cell *matCellDef="let row">{{row.currentState}}</td>
    </ng-container>

    <ng-container matColumnDef="dueBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action Due by</th>
        <td mat-cell *matCellDef="let row">{{row.expectedStateCompletionDate}}</td>
    </ng-container> 

    <ng-container matColumnDef="planningAppId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Planning Application Reference</th>
      <td mat-cell *matCellDef="let row">{{row.applicationNo}}</td>
    </ng-container> 

    <ng-container matColumnDef="completionDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estimated Completion Date</th>
      <td mat-cell *matCellDef="let row">{{row.completionDate}}</td>
    </ng-container> 

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>   
        <td 
            mat-cell *matCellDef="let row"  [routerLink]="['/planningapps/', row.id]" ><span><mat-icon>edit</mat-icon></span>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
    [length]="queryResult.totalItems"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100, 250]"
    (page)="pageEvent = getServerData($event)">
  </mat-paginator>
</div>
</div>