<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="!loginStatus">
          <a mat-list-item [routerLink]="['/login']">
            <mat-icon>exit_to_app</mat-icon>&nbsp;Login
          </a> 
      </a>     
      <!-- </a> mat-list-item [routerLink]="['/login']" >Login</a> -->
      <!-- <a *ngIf="loginStatus" mat-list-item [routerLink]="['/login']" (click)="logout()">logout</a> -->
      <a *ngIf="loginStatus" id="loggedInComponents"> 
        <a mat-list-item [routerLink]="['/login']" (click)="logout()">
          <mat-icon>reply</mat-icon>&nbsp;Logout
        </a> 
        <a mat-list-item [routerLink]="['/dashboard']">
          <mat-icon>home</mat-icon>
          <span>&nbsp;Dashboard</span>
        </a>
        <a mat-list-item [routerLink]="['/appsinprogress']">
          <mat-icon>list</mat-icon>
          <span [matBadge]="planningStatistics.inProgress" matBadgeOverlap="false" matBadgeColor="warn">&nbsp;Apps In Progress</span>
        </a>
        <a mat-list-item [routerLink]="['/searchapps']">
          <mat-icon>search</mat-icon>
          <span>&nbsp;Application Search</span>
        </a>
        <a mat-list-item [routerLink]="['/appsnew']">
          <mat-icon>playlist_add</mat-icon>&nbsp;New Application
        </a> 
        <a mat-list-item [routerLink]="['/customers']">
          <mat-icon>person</mat-icon>&nbsp;Customers
        </a> 
        <a mat-list-item [routerLink]="['/customers/new']">
          <mat-icon>person_add</mat-icon>&nbsp;New Customer
        </a>
        <a mat-list-item [routerLink]="['/appsinprogress']">
          <mat-icon>help_outine</mat-icon>
          <span [matBadge]="planningStatistics.completed" matBadgeOverlap="false">&nbsp;Web Enquiries</span>
        </a>     
        <a mat-list-item [routerLink]="['/appscompleted']">
          <mat-icon>done</mat-icon>
          <span [matBadge]="planningStatistics.completed" matBadgeOverlap="false">&nbsp;Apps Completed</span>
        </a>
        <a mat-list-item [routerLink]="['/generators']">
          <mat-icon>settings</mat-icon>&nbsp;State Generators
        </a>
      </a> 
    </mat-nav-list>
  </mat-sidenav>   
  <mat-sidenav-content> 


    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span flex>Crofton Design Vega Planner : {{userName}}</span>
      <span class="fill-space"></span>
      <span>Business Date : {{businessDate}}</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> 
