<div class="grid-container">
    <h1 class="mat-h1">Project Details : {{planningApp.planningReferenceId}}</h1>
    <div class="mat-elevation-z8">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">trending_up</mat-icon>
            Application Progress
          </ng-template>
          <div class="grid-container">

              <div class="form-group">
                    <div *ngIf="planningApp.canTerminate==true">
                      <button  mat-raised-button color="warn" matTooltip="Terminate" (click)="terminate()">Terminate</button>   
                    </div>
                    <div *ngIf="planningApp.planningStatus=='InProgress'">
                      <button mat-mini-fab color="primary" style="float: right;" matTooltip="Go to next state" (click)="nextState()"><span><mat-icon>arrow_downward</mat-icon></span></button>
                    </div>
                    <div *ngIf="planningApp.canArchive==true">
                        <button mat-fab color="primary" matTooltip="Archive" (click)="archive()"><span><mat-icon>archive</mat-icon></span></button>
                    </div>
                </div>
              <div class="mat-elevation-z8">
            
              <table mat-table #table [dataSource]="planningApp.planningAppStates" matSort aria-label="Elements">
               <!-- IconStatus --> 
               <ng-container matColumnDef="iconStatus">
                  <th mat-header-cell flex="50px" *matHeaderCellDef mat-sort-header ></th>
                  <mat-cell *matCellDef="let row" flex="50px">
                    <div *ngIf="row.stateStatus=='Complete'"><mat-icon class="green-thumb-icon">check_circle</mat-icon></div>
                    <div *ngIf="row.stateStatus=='OnTime'"><mat-icon class="blue-thumb-icon">thumb_up</mat-icon></div>
                    <div *ngIf="row.stateStatus=='Due'"><mat-icon class="orange-warn-icon">access_alarm</mat-icon></div>
                    <div *ngIf="row.stateStatus=='Overdue'"><mat-icon class="red-warn-icon">access_alarm</mat-icon></div>
                    <div *ngIf="row.stateStatus=='Overran'"><mat-icon class="red-warn-icon">thumb_down</mat-icon></div>
                  </mat-cell>
                </ng-container>
            
                <!-- State Name -->
                <ng-container matColumnDef="stateName" >
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Stage</th>
                  <td mat-cell *matCellDef="let row">{{row.stateName}}</td>
                </ng-container>

                <ng-container matColumnDef="generatorName" >
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Generator</th>
                  <td mat-cell *matCellDef="let row">{{row.generatorName}}</td>
                </ng-container>
 
                <ng-container matColumnDef="dueByDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Action Due by</th>
                  <td mat-cell *matCellDef="let row" 
                      [ngClass]="{'isCustomDuration':row.isCustomDuraton==true}">{{ row.dueByDate }}
                  </td>          
                </ng-container>
              
                <ng-container matColumnDef="dateCompleted">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Completed</th>
                    <td mat-cell *matCellDef="let row">{{row.dateCompleted}}</td>
                </ng-container>
            
                <ng-container matColumnDef="stateStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Status</th>
                    <td mat-cell *matCellDef="let row">{{row.stateStatus}}</td>
                  </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>  
                    <td 
                        mat-cell *matCellDef="let row" matTooltip="Edit State" [routerLink]="['/appstate/edit/', row.id]" [skipLocationChange]="true" [queryParams]="{ planningAppId: planningApp.id }"><span><mat-icon [ngClass]="{'red-warn-edit-icon':row.mandatoryFieldsSet==false}">edit</mat-icon></span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="addGenerator">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th> 
                    <mat-cell *matCellDef="let row"> 
                        <div *ngIf="row.isLastGeneratorState==false">
                            <td></td>
                        </div>
                        <div *ngIf="row.isLastGeneratorState==true">
                            <td matTooltip="Insert New Generator Here" [routerLink]="['/appgenerator/insert/', row.generatorOrder]" [skipLocationChange]="true" [queryParams]="{ planningAppId: planningApp.id }"><span><mat-icon color="primary">add_circle_outline</mat-icon></span></td>
                        </div>
                    </mat-cell>                     
                   </ng-container>

                   <ng-container matColumnDef="dummyColumn1">                 
                      <th mat-header-cell *matHeaderCellDef mat-sort-header></th> 
                    <td 
                        mat-cell *matCellDef="let row"  >
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="removeGenerator">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th> 
                    <mat-cell *matCellDef="let row"> 
                        <div *ngIf="row.canRemoveGenerator==false">
                            <td></td>
                        </div>
                        <div *ngIf="row.canRemoveGenerator==true">
                            <!-- <td matTooltip="Remove Generator" [routerLink]="['/appgenerator/remove/', row.generatorOrder]" [skipLocationChange]="true" [queryParams]="{ planningAppId: planningApp.id }"><span><mat-icon color="primary">remove_circle_outline</mat-icon></span></td>-->
                            <td matTooltip="Remove Generator" [routerLink]="['/appgenerator/remove/', row.generatorOrder]" [skipLocationChange]="true" [queryParams]="{ generatorId: row.id, planningAppId: planningApp.id }"><span><mat-icon color="primary">remove_circle_outline</mat-icon></span></td>
                        </div>
                    </mat-cell>                     
                   </ng-container>

                   <ng-container matColumnDef="dummyColumn2">                 
                      <th mat-header-cell *matHeaderCellDef mat-sort-header></th> 
                    <td 
                        mat-cell *matCellDef="let row"  >
                    </td>
                  </ng-container>

                <ng-container matColumnDef="nextState">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <mat-cell *matCellDef="let row">
                      <div *ngIf="row.currentState==false">
                          <td  ></td>
                      </div>
                      <div *ngIf="row.currentState==true && planningApp.planningStatus=='InProgress'">
                          <td  >
                              <button mat-mini-fab color="primary"  matTooltip="Go to next state" (click)="nextState()"><span><mat-icon>arrow_downward</mat-icon></span></button>
                          </td>                     
                      </div>
                    </mat-cell>            
                  </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedStateColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedStateColumns;" [ngClass] = "{'highlight' : row.currentState == true}"></tr>
              </table>
  
            </div>
            </div>                      


        </mat-tab>  

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">ballot</mat-icon>
            Application Details
          </ng-template>
          <div class="grid-container">
              <mat-accordion class="example-headers-align">
                  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>Application Summary</mat-panel-title>
                      <mat-panel-description><mat-icon>event_note</mat-icon></mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <div class="form-group">
                        <table ><tr>
                            <td>                  
                              <mat-form-field class="cust-name-width">
                                <input type="text" matInput placeholder="Status" name="status"  [(ngModel)]="planningApp.planningStatus" > 
                              </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="cust-name-width">
                                    <input type="text" matInput placeholder="Current Status" name="currentStatus"  [(ngModel)]="planningApp.currentStateStatus"> 
                                </mat-form-field>
                            </td>                                                    
                          </tr>
                        </table> 
                        <table ><tr>
                            <td>                  
                              <mat-form-field class="cust-name-width">
                                <input type="text" matInput placeholder="Project Generator" name="projectGenerator"  [(ngModel)]="planningApp.projectGeneratorName" > 
                              </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="cust-name-width">
                                    <input type="text" matInput placeholder="Start Date" name="startDate"  [(ngModel)]="planningApp.startDate"> 
                                </mat-form-field>
                            </td>                             

                         
                          </tr>
                        </table> 
                        <table ><tr>
                            <td>                  
                              <mat-form-field class="cust-name-width">
                                <input type="text" matInput placeholder="Current State" name="currentState"  [(ngModel)]="planningApp.currentState" > 
                              </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field class="cust-name-width">
                                    <input type="text" matInput placeholder="Expected State Completion Date" name="expCompletionDate"  [(ngModel)]="planningApp.expectedStateCompletionDate"> 
                                </mat-form-field>
                            </td>                             
                          </tr>
                        </table>  
                        <table >
                          <tr>
                            <td>                           
                                <mat-form-field class="desc-width">
                                  <input type="text" matInput placeholder="Description Of Work" name="description"  [(ngModel)]="planningApp.descriptionOfWork"> 
                                </mat-form-field>   
                            </td>
                            <td> 
                              <mat-form-field class="cust-name-width">
                                <input type="text" matInput placeholder="App Completion Date" name="appCompletionDate"  [(ngModel)]="planningApp.completionDate"> 
                              </mat-form-field>
                            </td> 
                          </tr>                       
                        </table>   
                                                    
                        <table >
                          <tr>
                            <td>  
                                <mat-list>
                                    <h3 mat-subheader>Site Survey Carried out by</h3>
                                    <mat-list-item *ngFor="let surveyor of planningApp.surveyors">
                                      <mat-icon mat-list-icon>face</mat-icon>
                                      <h4 mat-line>{{surveyor}}</h4>
                                    </mat-list-item>
                                  </mat-list>                          
                            </td>                          
                            <td> 
                                <mat-list>
                                    <h3 mat-subheader>Drawings Prepared by</h3>
                                    <mat-list-item *ngFor="let drawer of planningApp.drawers">
                                      <mat-icon mat-list-icon>face</mat-icon>
                                      <h4 mat-line>{{drawer}}</h4>
                                    </mat-list-item>
                                  </mat-list>                               
                            </td> 
                            <td>  
                                <mat-list>
                                    <h3 mat-subheader>Administrators</h3>
                                    <mat-list-item *ngFor="let user of planningApp.admins">
                                      <mat-icon mat-list-icon>face</mat-icon>
                                      <h4 mat-line>{{user}}</h4>
                                    </mat-list-item>
                                  </mat-list>                          
                            </td> 
                          </tr>                       
                        </table>                                                               
                    </div>
                
                    <mat-action-row>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>

                  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>Fees Quoted</mat-panel-title>
                        <mat-panel-description><mat-icon>euro_symbol</mat-icon></mat-panel-description>
                      </mat-expansion-panel-header>  
                       <mat-table #table [dataSource]="planningApp.planningAppFees" matSort aria-label="Elements">

                          <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> Fee Type </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                            <mat-footer-cell *matFooterCellDef class="fee-right-align"> Total </mat-footer-cell>
                          </ng-container>
                      
                          <!-- Fee Column -->
                          <ng-container matColumnDef="fee">
                            <mat-header-cell *matHeaderCellDef> Fee </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                              <mat-form-field>
                                  <input matInput type="number" [value]="element.amount" [(ngModel)]="element.amount" class="fee-right-align">
                                  <span matPrefix>£&nbsp;</span>
                                  <!-- <span matSuffix>.00</span> -->
                                </mat-form-field>
                            </mat-cell>   
                            <!-- <mat-footer-cell *matFooterCellDef type="number" class="fee-right-align"> <span matPrefix>£&nbsp;</span><span matSuffix>0.00</span> </mat-footer-cell>                        -->
                            <mat-footer-cell *matFooterCellDef type="number" class="fee-right-align"><span matPrefix>£&nbsp;</span>{{getTotalFees()}}</mat-footer-cell>                       
                          </ng-container>

                           <!-- Spacer Column For Formatting-->                         
                          <ng-container matColumnDef="spacer">
                              <mat-header-cell *matHeaderCellDef></mat-header-cell>
                              <mat-cell *matCellDef="let element"></mat-cell>
                              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                            </ng-container>       
                          <ng-container matColumnDef="spacer2">
                              <mat-header-cell *matHeaderCellDef></mat-header-cell>
                              <mat-cell *matCellDef="let element"></mat-cell>
                              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                            </ng-container>       
                          <ng-container matColumnDef="spacer3">
                              <mat-header-cell *matHeaderCellDef></mat-header-cell>
                              <mat-cell *matCellDef="let element"></mat-cell> 
                              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                            </ng-container>       

                          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                          <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
                        </mat-table> 
                      <mat-action-row>
                          <button mat-raised-button color="primary" (click)="submit()">Update</button>
                          <button mat-button color="primary" (click)="nextStep()">Next</button>
                      </mat-action-row>
                  </mat-expansion-panel>

                  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>Client Details</mat-panel-title>
                      <mat-panel-description><mat-icon>face</mat-icon></mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <div class="form-group">
                        <table ><tr>
                          <td>                  
                            <mat-form-field  class="example-full-width">
                              <input type="text" matInput placeholder="Customer Name" name="customerName"  [(ngModel)]="planningApp.customerName" > 
                            </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field class="example-full-width">
                                  <input type="text" matInput placeholder="Email" name="email"  [(ngModel)]="planningApp.customer.emailAddress"> 
                              </mat-form-field>
                          </td>                          
                          </tr>
                        </table> 
                    </div>
                    <div class="form-group">
                        <table class="example-full-width" cellspacing="0"><tr>
                            <td><mat-form-field class="cust-name-width">
                              <input matInput placeholder="Address" name="address" [(ngModel)]="planningApp.customer.addressLine1"> 
                            </mat-form-field></td>

                            <td></td>
              
                            <td></td>
                          </tr>
                        </table>     
                    </div>               
                    <div class="form-group">
                      <table class="example-full-width" cellspacing="0"><tr>
                          <td><mat-form-field class="example-full-width">
                            <input matInput placeholder="City" name="city" [(ngModel)]="planningApp.customer.city"> 
                          </mat-form-field></td>
            
                          <td><mat-form-field class="example-full-width">
                            <input matInput placeholder="County" name="county" [(ngModel)]="planningApp.customer.county"> 
                          </mat-form-field></td>
            
                          <td><mat-form-field class="example-full-width">
                            <input matInput #postalCode maxlength="8" placeholder="Postal Code" value="" name="postcode" [(ngModel)]="planningApp.customer.postcode"> 
                          </mat-form-field></td>
                        </tr>
                      </table>
                    </div>

                    <div class="form-group">
                        <table class="example-full-width" cellspacing="0"><tr>
                            <td><mat-form-field class="example-full-width">
                              <input matInput placeholder="Home" name="telephoneHome" [(ngModel)]="planningApp.customer.telephoneHome"> 
                            </mat-form-field></td>
              
                            <td><mat-form-field class="example-full-width">
                              <input matInput placeholder="Work" name="Work" [(ngModel)]="planningApp.customer.telephoneWork"> 
                            </mat-form-field></td>
              
                            <td><mat-form-field class="example-full-width">
                              <input matInput placeholder="Mobile" value="" name="telephoneMobile" [(ngModel)]="planningApp.customer.telephoneMobile"> 
                            </mat-form-field></td>
                          </tr>
                        </table>
                      </div> 
                
                    <mat-action-row>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                
                  <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>Builder Details</mat-panel-title>
                      <mat-panel-description><mat-icon>person_outline</mat-icon></mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="form-group">
                        <table ><tr>
                            <td>                  
                              <mat-form-field class="cust-name-width">
                                <input type="text" matInput placeholder="First name" name="firstName"  [(ngModel)]="planningApp.developer.firstName" > 
                              </mat-form-field>
                            </td>
                            <td>
                              <mat-form-field class="cust-name-width">
                                  <input type="text" matInput placeholder="Last name" name="lastName"  [(ngModel)]="planningApp.developer.lastName"> 
                              </mat-form-field>
                          </td>                        
                          </tr>
                        </table> 
                    </div>              
                    <div class="form-group">
                        <table class="example-full-width" cellspacing="0"><tr>
              
                            <td><mat-form-field class="cust-name-width">
                              <input matInput placeholder="Work" name="Work" [(ngModel)]="planningApp.developer.telephoneWork"> 
                            </mat-form-field></td>
              
                            <td><mat-form-field class="cust-name-width">
                              <input matInput placeholder="Mobile" value="" name="telephoneMobile" [(ngModel)]="planningApp.developer.telephoneMobile"> 
                            </mat-form-field></td>
                          </tr>
                        </table>
                    </div>  
                    <div class="form-group">
                      <mat-form-field class="cust-name-width">
                          <input type="text" matInput placeholder="Email" name="email"  [(ngModel)]="planningApp.developer.emailAddress"> 
                      </mat-form-field>
                    </div>                                  
                    <mat-action-row>
                      <button mat-raised-button color="primary" (click)="submit()">Update</button>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                      <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                                
                  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Site Address (if different)
                      </mat-panel-title>
                      <mat-panel-description>
                        <mat-icon>business</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="form-group">
                        <table ><tr>
                            <td>
                              <mat-form-field class="dev-name-width">
                                  <input type="text" matInput placeholder="Address" name="addressLine1"  [(ngModel)]="planningApp.developmentAddress.addressLine1"> 
                              </mat-form-field>
                          </td>   
                          <td>                  
                            <mat-form-field class="cust-name-width">
                              <input type="text" matInput placeholder="City" name="city"  [(ngModel)]="planningApp.developmentAddress.city" > 
                            </mat-form-field>
                          </td>                     
                          </tr>
                          <tr>
                              <td>
                                <mat-form-field class="cust-name-width">
                                    <input type="text" matInput placeholder="County" name="county"  [(ngModel)]="planningApp.developmentAddress.county"> 
                                </mat-form-field>
                            </td>    
                            <td>
                                <mat-form-field class="cust-name-width">
                                    <input type="text" matInput placeholder="Postcode" name="postcode"  [(ngModel)]="planningApp.developmentAddress.postcode"> 
                                </mat-form-field>
                            </td>                                                     
                          </tr>
                        </table> 
                    </div> 
               
                    <mat-action-row>
                      <button mat-raised-button color="primary" (click)="submit()">Update</button>
                      <button mat-button color="warn" (click)="prevStep()">Previous</button>
                    </mat-action-row>
                  </mat-expansion-panel>
                </mat-accordion>
          </div>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">collections</mat-icon>
            Drawings
          </ng-template>

          Not Implemented
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">speaker_notes</mat-icon>
              Notes
            </ng-template>
            <div class="grid-container">
              <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Application Notes"  [(ngModel)]="planningApp.notes"></textarea>
                </mat-form-field>
              </div>

              <mat-action-row>
                  <button mat-raised-button color="primary" (click)="submit()">Update</button>
                </mat-action-row>
          </mat-tab>
      </mat-tab-group>

    </div>
<div>
