/* Structure */
table {
    width: 100%;
  }

  .full-width {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 90%;
  }

  .mat-column-select {
    overflow: initial;
  }
  .grid-container {
    margin: 20px;
  }

  .grid-select-container {
    margin: 50px;
  }

  .dev-name-width {
    width: 50%;
  }

  .cust-name-width {
    width: 30%;
  }

  .desc-width {
    width: 60%;
  }

  .green-thumb-icon {
      color: green;
      margin: 10px;
  }

  .blue-thumb-icon {
    color: rgb(84, 2, 192);
    margin: 10px;
}

  .orange-warn-icon {
    color: orange;
    margin: 10px;
  } 
  .red-warn-icon {
    color: red;
    margin: 10px;
  } 

  .red-warn-edit-icon {
    color: red;
  } 

  .highlight{
    background: rgb(143, 192, 192); /* green */
    } 

  .isCustomDuration{
    color: rgba(162, 64, 201, 0.801); 
    font-style: italic;
} 

  .mat-column-status-icon-width {
    flex: 0 0 0px;
  }

  .customWidthClass{
    flex: 0 0 50px;
  }

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.filter-width {
  padding: 15px; 
}
.fab_button-padding {
  padding: 5px; 
}

/* Fee formatting */
.fee-right-align {
  text-align: right;
}

input.fee-right-align::-webkit-outer-spin-button,
input.fee-right-align::-webkit-inner-spin-button {
  display: none;
}

input.fee-right-align {
  -moz-appearance: textfield;
}

.mat-footer-row {
  font-weight: bold;
}

