<!-- <div class="grid-container">
  <div class="mat-elevation-z8">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="grid-container-inner">
      <h1 class="mat-h1">Remove Generator From Planning Application</h1>
        <div class="form-group">                        
          <mat-form-field class="third-width">
            <input type="text" matInput placeholder="Generator Name" formControlName="name"> 
        </div>
          </mat-form-field>
        </div>  
        <div class="button-row">
                <button mat-raised-button color="primary" (click)="close=true">Close</button>                    
                <button mat-raised-button color="warn" (click)="delete()" >Delete</button>           
        </div>
      </div>
    </div>
  </form>

  </div>
</div>  
 -->

