<div class="grid-container">
  <div class="mat-elevation-z8">
    <div class="grid-container-inner">
      <div class="form-group">
        <div class="filter-width">
          <h2 class="mat-h2">Remove Generator [ {{queryGeneratorResult.generatorName}} ] From Application?</h2>
        </div>
        <table ><tr>
            <td>                  
              <mat-form-field class="state-name-width">
                <input type="text" matInput placeholder="Generator Name" name="name"  [(ngModel)]="queryGeneratorResult.generatorName" > 
              </mat-form-field>
            </td>                            
          </tr>
        </table> 
      </div>  
      <div class="form-group">
          <button class="button-row" mat-raised-button color="warn" (click)="onSubmit()">Delete</button>
          <button mat-raised-button color="primary"  class="button-row" (click)="close()">Close</button> 
      </div> 
    </div>
  </div>
</div>


