/* Structure */
table {
    width: 100%;
  }

  .full-width {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 90%;
  }

  .mat-column-select {
    overflow: initial;
  }
  .grid-container {
    margin: 20px;
  }

  .grid-container-outer {
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;   
  }

  .grid-select-container {
    margin: 50px;
  }

  .cust-name-width {
    width: 30%;
  }

  .state-name-width {
    width: 60%;
  }

  .green-thumb-icon {
      color: green;
      margin: 10px;
  }


  .mat-column-status-icon-width {
    flex: 0 0 0px;
  }

  .customWidthClass{
    flex: 0 0 50px;
  }

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.filter-width {
    margin-top:25px;
    margin-bottom:15px; 
}
.button-row{
  margin: 10px; 
}

