<div class="grid-container">
    <!-- <h1 class="mat-h1">State Name : {{planningApp.planningReferenceId}}</h1> -->
    <div class="mat-elevation-z8">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">filter_tilt_shift</mat-icon>
            Application State
          </ng-template>
          <div class="grid-container-outer">

              <div class="mat-elevation-z8">
                  <div class="grid-container">
                  <div class="form-group">
                      <div class="filter-width">
                      <h2 class="mat-h2">Application State Details</h2>
                    </div>
                      <table ><tr>
                          <td>                  
                            <mat-form-field class="state-name-width">
                              <input type="text" matInput placeholder="State Name" name="stateName"  [(ngModel)]="planningAppState.stateName" > 
                            </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field *ngIf="planningAppState.dateCompleted!=''" class="state-name-width">
                                  <input type="text"  matInput placeholder="Date Completed" name="dateCompleted"  [(ngModel)]="planningAppState.dateCompleted"> 
                              </mat-form-field>
                          </td>                             
                        </tr>
                      </table> 
                      <table ><tr>
                          <td>                  
                            <mat-form-field class="cust-name-width">
                              <input type="text" matInput placeholder="Status" name="status"  [(ngModel)]="planningAppState.stateStatus" > 
                            </mat-form-field>
                          </td>
                          <td></td>                             
                        </tr> 
                      </table> 
                      <table ><tr>
                          <td>                  
                              <mat-form-field class="cust-name-width">
                                  <input matInput [min]="calMinDate" [formControl]="calDueByDate" [matDatepickerFilter]="dateFilter()" (dateChange)="addEvent('change', $event)" [matDatepicker]="picker"  placeholder="Update Due By Date">
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker [startAt]="calDueByDate" color="primary" ></mat-datepicker>
                                </mat-form-field>
                          </td>
                          <td></td>                             
                        </tr>
                      </table>                
              </div>   
              <div class="form-group">
                  <button *ngIf="planningAppState.dueByDateEditable==true" class="button-row" mat-raised-button color="warn" (click)="submit()">Update</button>
                  <button mat-raised-button color="primary"  class="button-row" (click)="close()">Close</button> 
              </div>
 
              </div>
  
            </div>
          </div>
        </mat-tab>  

        <div *ngIf="planningAppState.planningAppStateCustomFieldsResource.length>0" >
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">ballot</mat-icon>
            Required Input Fields 
          </ng-template>
          <div class="grid-container-outer">

              <div class="mat-elevation-z8">
                  <div class="grid-container">
                    <div class="form-group">
                      <div class="filter-width">
                      <h2 class="mat-h2">Custom State Details</h2>
                      </div>                
                      <mat-form-field class="state-name-width">
                        <input type="text" [disabled]=true matInput placeholder="State Name" name="stateName"  [(ngModel)]="planningAppState.stateName" > 
                      </mat-form-field>
                          <form class="form-horizontal" #f1="ngForm">   
                              <div  *ngFor="let r of planningAppState.planningAppStateCustomFieldsResource">   
                                  <div class="form-group">


                                      <mat-form-field class="state-name-width">
                                          <input type="text" id="{{ r.id }}" matInput placeholder="{{r.name}}" name="name" [ngStyle]="{'background-color': r.isMandatory==true? 'Red' : ''} " [(ngModel)]="r.value" > 
                                        </mat-form-field>       
                                  </div>
                              </div>
                          </form>                                     
                      </div>   
                      <div class="form-group">
                          <button *ngIf="planningAppState.dueByDateEditable==true" class="button-row" mat-raised-button color="warn" (click)="submit()">Update</button>
                          <button mat-raised-button color="primary"  class="button-row" (click)="close()">Close</button> 
                      </div>
 
                  </div>
  
              </div>

          </div>
        </mat-tab>
       </div>
        <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">speaker_notes</mat-icon>
              Notes
            </ng-template>
            <div class="grid-container">
              <mat-form-field class="example-full-width">
                   <textarea matInput placeholder="Application Notes"  [(ngModel)]="planningAppState.notes"></textarea> 
                </mat-form-field>
              </div>
          </mat-tab>
      </mat-tab-group>

    </div>
<div>
